body {
  background-image: linear-gradient(to bottom, #232323, #384658, #28718b, #00a1ad, #00d1b4);  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  justify-items: normal;
  font-family: 'Averta', sans-serif;
  padding: 10px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Cambiado a una sola columna en pantallas pequeñas */
  max-width: fit-content;
  max-height: 100vw;
  padding: 10px;
  margin-top: 20px;
}

.grid-item {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
}

.movable-item {
    transition: transform 0.5s; /* Para animar el movimiento */
}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
