body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: azure;
}

label, select {
    margin-bottom: 10px;
}


textarea{
    width: 20%;
}
textarea{
    border: none;
}
