body{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 80px;
}

input[type="text"]
{
    border:none;
    border-bottom: 2px solid black;
}

.tarjetas, .datos{
    display: flex;
    flex-direction: column;
}

.tarjetas label{
    font-weight: bold;
    padding: 5px
}

form{
    border: 2px solid black;
}

.datos{
    margin-top: 20px;
    display: flex;
}



form input[type="button"]
{
    width: 70px;
    height: 30px;
    border: none;
    background-color:darkcyan;
    border-radius: 20px;
    margin-top: 30px;
    align-self: center;
    font-weight: bold;
}

form img{
    width: 45px;
}